html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app-flex-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.app-flex-container > * {
  flex: 1 1 0;
  min-width: 0;
  height: 100vh;
  overflow-y: auto;
}